* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: black;
  background-image: url(img/forest.jpg);
  background-position: center;
  color: antiquewhite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  padding: 20px 40px;
  border-radius: 9px;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.44);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: darkseagreen;
  display: inline-block;
  margin-left: 20px;
}

.container a:hover {
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: darkolivegreen;
  border: none;
  padding: 15px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  color: antiquewhite;
  border-radius: 9px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid antiquewhite;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: antiquewhite;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-block-color: darkolivegreen;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s ease-in;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: darkolivegreen;
  transform: translateY(-30px);
}
